--
-- PostgreSQL database dump
--

\restrict b41jVrKF46gIGbWUJyhaUa6YZDuqQxvQEJwSgp1CntYv6ZYtJllzp6shgb4G7c1

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: EodSnapshots; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public."EodSnapshots" (
    "Id" uuid NOT NULL,
    "BranchId" uuid NOT NULL,
    "ReportDate" timestamp with time zone NOT NULL,
    "GeneratedByOperatorId" uuid NOT NULL,
    "SnapshotVersion" integer NOT NULL,
    "SchemaVersion" text NOT NULL,
    "SnapshotData" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."EodSnapshots" OWNER TO gamecafe_admin;

--
-- Name: PricingProfiles; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public."PricingProfiles" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "BaseHourlyRate" numeric NOT NULL,
    "BranchId" uuid NOT NULL,
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."PricingProfiles" OWNER TO gamecafe_admin;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO gamecafe_admin;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.audit_logs (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "UserId" uuid,
    "OperatorId" uuid,
    "UserRole" character varying(20) NOT NULL,
    "UserName" character varying(100) NOT NULL,
    "Action" character varying(50) NOT NULL,
    "TargetType" character varying(50),
    "TargetId" uuid,
    "BranchId" uuid,
    "BranchName" character varying(100),
    "Details" jsonb,
    "IpAddress" character varying(45),
    "DeviceInfo" jsonb,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO gamecafe_admin;

--
-- Name: bill_items; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.bill_items (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "BillId" uuid NOT NULL,
    "ItemType" character varying(20) NOT NULL,
    "ItemName" character varying(200) NOT NULL,
    "Quantity" integer DEFAULT 1 NOT NULL,
    "UnitPrice" numeric(10,2) NOT NULL,
    "TotalPrice" numeric(10,2) NOT NULL,
    "InventoryId" uuid,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.bill_items OWNER TO gamecafe_admin;

--
-- Name: bills; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.bills (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "BillNumber" character varying(30) NOT NULL,
    "SessionId" uuid,
    "PcId" uuid,
    "BranchId" uuid NOT NULL,
    "OperatorId" uuid NOT NULL,
    "ShiftId" uuid,
    "CustomerName" character varying(100),
    "MemberId" uuid,
    "GamingAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "FoodAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "Subtotal" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "DiscountType" character varying(20),
    "DiscountValue" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "DiscountAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "DiscountBy" uuid,
    "DiscountReason" text,
    "TotalAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "PaymentType" character varying(20),
    "CashAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "OnlineAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "WalletAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "CashReceived" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "ChangeReturned" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "ActualCashCollected" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "Status" character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    "CompletedAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.bills OWNER TO gamecafe_admin;

--
-- Name: branches; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.branches (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "Name" character varying(100) NOT NULL,
    "Address" text,
    "OpeningTime" time without time zone DEFAULT '10:00:00'::time without time zone NOT NULL,
    "ClosingTime" time without time zone DEFAULT '02:00:00'::time without time zone NOT NULL,
    "Status" character varying(20) DEFAULT 'active'::character varying NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.branches OWNER TO gamecafe_admin;

--
-- Name: cash_register; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.cash_register (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "ShiftId" uuid NOT NULL,
    "BranchId" uuid NOT NULL,
    "OperatorId" uuid NOT NULL,
    "OpeningBalance" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "TotalCashSales" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "TotalSplitCash" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "ExpectedDrawerCash" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "PhysicalCashCounted" numeric(10,2),
    "CashDifference" numeric(10,2),
    "MismatchReason" text,
    "Status" character varying(20) DEFAULT 'open'::character varying NOT NULL,
    "OpenedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "VerifiedAt" timestamp with time zone,
    "ClosedAt" timestamp with time zone
);


ALTER TABLE public.cash_register OWNER TO gamecafe_admin;

--
-- Name: cash_transactions; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.cash_transactions (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "CashRegisterId" uuid NOT NULL,
    "BillId" uuid,
    "BranchId" uuid NOT NULL,
    "OperatorId" uuid NOT NULL,
    "PcNumber" character varying(20),
    "CashAmount" numeric(10,2) NOT NULL,
    "GamingAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "FoodAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "TransactionType" character varying(30) DEFAULT 'billing'::character varying NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.cash_transactions OWNER TO gamecafe_admin;

--
-- Name: denomination_counts; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.denomination_counts (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "CashRegisterId" uuid NOT NULL,
    "ShiftId" uuid NOT NULL,
    "BranchId" uuid NOT NULL,
    "OperatorId" uuid NOT NULL,
    "Notes2000" integer NOT NULL,
    "Notes500" integer NOT NULL,
    "Notes200" integer NOT NULL,
    "Notes100" integer NOT NULL,
    "Notes50" integer NOT NULL,
    "Notes20" integer NOT NULL,
    "Notes10" integer NOT NULL,
    "Coins5" integer NOT NULL,
    "Coins2" integer NOT NULL,
    "Coins1" integer NOT NULL,
    "CountedTotal" numeric(10,2) NOT NULL,
    "ExpectedTotal" numeric(10,2) NOT NULL,
    "Difference" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "IsVerified" boolean DEFAULT false NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.denomination_counts OWNER TO gamecafe_admin;

--
-- Name: discounts; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.discounts (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "BillId" uuid NOT NULL,
    "BranchId" uuid NOT NULL,
    "AdminId" uuid NOT NULL,
    "DiscountType" character varying(20) NOT NULL,
    "DiscountValue" numeric(10,2) NOT NULL,
    "DiscountAmount" numeric(10,2) NOT NULL,
    "Reason" text NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.discounts OWNER TO gamecafe_admin;

--
-- Name: food_order_items; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.food_order_items (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "OrderId" uuid NOT NULL,
    "InventoryId" uuid NOT NULL,
    "ItemName" character varying(200) NOT NULL,
    "Quantity" integer DEFAULT 1 NOT NULL,
    "UnitPrice" numeric(10,2) NOT NULL,
    "TotalPrice" numeric(10,2) NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.food_order_items OWNER TO gamecafe_admin;

--
-- Name: food_orders; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.food_orders (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "OrderNumber" character varying(30) NOT NULL,
    "SessionId" uuid,
    "PcId" uuid,
    "BranchId" uuid NOT NULL,
    "OperatorId" uuid,
    "CustomerName" character varying(100),
    "MemberId" uuid,
    "TotalAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "PaymentType" character varying(20),
    "Status" character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    "CancelledReason" text,
    "OrderTime" timestamp with time zone DEFAULT now() NOT NULL,
    "AcceptedAt" timestamp with time zone,
    "ReadyAt" timestamp with time zone,
    "DeliveredAt" timestamp with time zone,
    "CompletedAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.food_orders OWNER TO gamecafe_admin;

--
-- Name: inventory; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.inventory (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "BranchId" uuid NOT NULL,
    "ItemName" character varying(200) NOT NULL,
    "Category" character varying(100),
    "Price" numeric(10,2) NOT NULL,
    "CurrentStock" integer DEFAULT 0 NOT NULL,
    "MinStockLimit" integer DEFAULT 5 NOT NULL,
    "Status" character varying(20) DEFAULT 'available'::character varying NOT NULL,
    "ImageUrl" text,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.inventory OWNER TO gamecafe_admin;

--
-- Name: inventory_logs; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.inventory_logs (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "InventoryId" uuid NOT NULL,
    "BranchId" uuid NOT NULL,
    "OperatorId" uuid,
    "Action" character varying(30) NOT NULL,
    "Quantity" integer,
    "OldValue" text,
    "NewValue" text,
    "Reason" text,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.inventory_logs OWNER TO gamecafe_admin;

--
-- Name: loyalty_points; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.loyalty_points (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "MemberId" uuid NOT NULL,
    "BranchId" uuid NOT NULL,
    "OperatorId" uuid,
    "AdminId" uuid,
    "Action" character varying(30) NOT NULL,
    "Category" character varying(20) NOT NULL,
    "Points" integer NOT NULL,
    "PointsBefore" integer NOT NULL,
    "PointsAfter" integer NOT NULL,
    "BillId" uuid,
    "RewardType" character varying(50),
    "RewardValue" numeric(10,2),
    "Reason" text,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.loyalty_points OWNER TO gamecafe_admin;

--
-- Name: members; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.members (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "MemberNumber" character varying(30) NOT NULL,
    "FullName" character varying(100) NOT NULL,
    "MobileNumber" character varying(20) NOT NULL,
    "Email" character varying(255),
    "Status" character varying(20) DEFAULT 'active'::character varying NOT NULL,
    "WalletBalance" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "GamingPoints" integer NOT NULL,
    "FoodPoints" integer NOT NULL,
    "TotalPoints" integer NOT NULL,
    "TotalGamingSpend" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "TotalFoodSpend" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "HomeBranchId" uuid,
    "JoinDate" timestamp with time zone DEFAULT now() NOT NULL,
    "LastVisit" timestamp with time zone,
    "CreatedBy" uuid,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.members OWNER TO gamecafe_admin;

--
-- Name: operators; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.operators (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "FullName" character varying(100) NOT NULL,
    "Username" character varying(50) NOT NULL,
    "PasswordHash" character varying(255) NOT NULL,
    "MobileNumber" character varying(20),
    "BranchId" uuid NOT NULL,
    "Status" character varying(20) DEFAULT 'active'::character varying NOT NULL,
    "DashboardPermissions" jsonb NOT NULL,
    "LastLogin" timestamp with time zone,
    "DeviceInfo" jsonb,
    "CreatedBy" uuid,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.operators OWNER TO gamecafe_admin;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.payments (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "BillId" uuid NOT NULL,
    "BranchId" uuid NOT NULL,
    "OperatorId" uuid NOT NULL,
    "PaymentType" character varying(20) NOT NULL,
    "TotalAmount" numeric(10,2) NOT NULL,
    "CashAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "OnlineAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "WalletAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "CashReceived" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "ChangeReturned" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "ActualCashCollected" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "GamingPortion" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "FoodPortion" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "Status" character varying(20) DEFAULT 'completed'::character varying NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payments OWNER TO gamecafe_admin;

--
-- Name: pcs; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.pcs (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "PcNumber" character varying(20) NOT NULL,
    "BranchId" uuid NOT NULL,
    "State" character varying(20) DEFAULT 'idle'::character varying NOT NULL,
    "CurrentSessionId" uuid,
    "CurrentReservationId" uuid,
    "LastActiveAt" timestamp with time zone,
    "LastOperatorId" uuid,
    "IpAddress" character varying(45),
    "Specs" jsonb,
    "PcName" text,
    "Zone" text,
    "PricingProfileId" uuid,
    "HardwareNotes" text,
    "IsActive" boolean NOT NULL,
    "IsDeleted" boolean NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.pcs OWNER TO gamecafe_admin;

--
-- Name: reservations; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.reservations (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "PcId" uuid NOT NULL,
    "BranchId" uuid NOT NULL,
    "OperatorId" uuid NOT NULL,
    "CustomerName" character varying(100) NOT NULL,
    "MemberId" uuid,
    "ReservationTime" timestamp with time zone NOT NULL,
    "DurationMin" integer,
    "GracePeriodMin" integer DEFAULT 15 NOT NULL,
    "State" character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    "StartedAt" timestamp with time zone,
    "ExpiredAt" timestamp with time zone,
    "CancelledAt" timestamp with time zone,
    "OverrideBy" uuid,
    "OverrideReason" text,
    "Notes" text,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reservations OWNER TO gamecafe_admin;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.sessions (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "PcId" uuid NOT NULL,
    "BranchId" uuid NOT NULL,
    "OperatorId" uuid NOT NULL,
    "ShiftId" uuid,
    "CustomerName" character varying(100),
    "MemberId" uuid,
    "StartTime" timestamp with time zone DEFAULT now() NOT NULL,
    "EndTime" timestamp with time zone,
    "PlannedDurationMin" integer,
    "ActualDurationMin" integer,
    "GamingAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "FoodAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "TotalAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "State" character varying(20) DEFAULT 'active'::character varying NOT NULL,
    "GamingType" character varying(50) DEFAULT 'standard'::character varying NOT NULL,
    "Notes" text,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sessions OWNER TO gamecafe_admin;

--
-- Name: shifts; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.shifts (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "OperatorId" uuid NOT NULL,
    "BranchId" uuid NOT NULL,
    "LoginTime" timestamp with time zone DEFAULT now() NOT NULL,
    "LogoutTime" timestamp with time zone,
    "DeviceInfo" jsonb,
    "Status" character varying(20) DEFAULT 'active'::character varying NOT NULL,
    "Summary" jsonb,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.shifts OWNER TO gamecafe_admin;

--
-- Name: system_config; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.system_config (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "ConfigKey" character varying(100) NOT NULL,
    "ConfigValue" jsonb NOT NULL,
    "Description" text,
    "UpdatedBy" uuid,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.system_config OWNER TO gamecafe_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.users (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "Email" character varying(255) NOT NULL,
    "PasswordHash" character varying(255) NOT NULL,
    "FullName" character varying(100) NOT NULL,
    "Role" character varying(20) DEFAULT 'super_admin'::character varying NOT NULL,
    "Status" character varying(20) DEFAULT 'active'::character varying NOT NULL,
    "LastLogin" timestamp with time zone,
    "DeviceInfo" jsonb,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO gamecafe_admin;

--
-- Name: wallet_transactions; Type: TABLE; Schema: public; Owner: gamecafe_admin
--

CREATE TABLE public.wallet_transactions (
    "Id" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "MemberId" uuid NOT NULL,
    "BranchId" uuid NOT NULL,
    "OperatorId" uuid,
    "AdminId" uuid,
    "Action" character varying(30) NOT NULL,
    "Amount" numeric(10,2) NOT NULL,
    "BalanceBefore" numeric(10,2) NOT NULL,
    "BalanceAfter" numeric(10,2) NOT NULL,
    "PaymentType" character varying(20),
    "CashAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "OnlineAmount" numeric(10,2) DEFAULT 0.0 NOT NULL,
    "BillId" uuid,
    "Reason" text,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.wallet_transactions OWNER TO gamecafe_admin;

--
-- Data for Name: EodSnapshots; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public."EodSnapshots" ("Id", "BranchId", "ReportDate", "GeneratedByOperatorId", "SnapshotVersion", "SchemaVersion", "SnapshotData", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: PricingProfiles; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260603100828_AddPcManagementSystem	8.0.0
20260603182354_AddEodSnapshots	8.0.0
20260603185217_AddOptimisticConcurrencyXmin	8.0.0
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: bill_items; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.bill_items ("Id", "BillId", "ItemType", "ItemName", "Quantity", "UnitPrice", "TotalPrice", "InventoryId", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: bills; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: branches; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: cash_register; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: cash_transactions; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.cash_transactions ("Id", "CashRegisterId", "BillId", "BranchId", "OperatorId", "PcNumber", "CashAmount", "GamingAmount", "FoodAmount", "TransactionType", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: denomination_counts; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.denomination_counts ("Id", "CashRegisterId", "ShiftId", "BranchId", "OperatorId", "Notes2000", "Notes500", "Notes200", "Notes100", "Notes50", "Notes20", "Notes10", "Coins5", "Coins2", "Coins1", "CountedTotal", "ExpectedTotal", "Difference", "IsVerified", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: discounts; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.discounts ("Id", "BillId", "BranchId", "AdminId", "DiscountType", "DiscountValue", "DiscountAmount", "Reason", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: food_order_items; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: food_orders; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: inventory; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: inventory_logs; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.inventory_logs ("Id", "InventoryId", "BranchId", "OperatorId", "Action", "Quantity", "OldValue", "NewValue", "Reason", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: loyalty_points; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.loyalty_points ("Id", "MemberId", "BranchId", "OperatorId", "AdminId", "Action", "Category", "Points", "PointsBefore", "PointsAfter", "BillId", "RewardType", "RewardValue", "Reason", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: members; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.members ("Id", "MemberNumber", "FullName", "MobileNumber", "Email", "Status", "WalletBalance", "GamingPoints", "FoodPoints", "TotalPoints", "TotalGamingSpend", "TotalFoodSpend", "HomeBranchId", "JoinDate", "LastVisit", "CreatedBy", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: operators; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.payments ("Id", "BillId", "BranchId", "OperatorId", "PaymentType", "TotalAmount", "CashAmount", "OnlineAmount", "WalletAmount", "CashReceived", "ChangeReturned", "ActualCashCollected", "GamingPortion", "FoodPortion", "Status", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: pcs; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: reservations; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.reservations ("Id", "PcId", "BranchId", "OperatorId", "CustomerName", "MemberId", "ReservationTime", "DurationMin", "GracePeriodMin", "State", "StartedAt", "ExpiredAt", "CancelledAt", "OverrideBy", "OverrideReason", "Notes", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: shifts; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--



--
-- Data for Name: system_config; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.system_config ("Id", "ConfigKey", "ConfigValue", "Description", "UpdatedBy", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.users ("Id", "Email", "PasswordHash", "FullName", "Role", "Status", "LastLogin", "DeviceInfo", "CreatedAt", "UpdatedAt") FROM stdin;
22222222-2222-2222-2222-222222222222	admin@neonarena.com	$2a$12$LPKOWAkrLWuijeeYpIXArORXCUXMxxnMN15k5f8w7Qs/2U0SIGGxK	System Admin	super_admin	active	2026-06-05 09:23:25.969892+00	\N	2026-06-04 03:49:36.101631+00	2026-06-05 09:23:25.969997+00
\.


--
-- Data for Name: wallet_transactions; Type: TABLE DATA; Schema: public; Owner: gamecafe_admin
--

COPY public.wallet_transactions ("Id", "MemberId", "BranchId", "OperatorId", "AdminId", "Action", "Amount", "BalanceBefore", "BalanceAfter", "PaymentType", "CashAmount", "OnlineAmount", "BillId", "Reason", "CreatedAt") FROM stdin;
\.


--
-- Name: EodSnapshots PK_EodSnapshots; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public."EodSnapshots"
    ADD CONSTRAINT "PK_EodSnapshots" PRIMARY KEY ("Id");


--
-- Name: PricingProfiles PK_PricingProfiles; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public."PricingProfiles"
    ADD CONSTRAINT "PK_PricingProfiles" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: audit_logs PK_audit_logs; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "PK_audit_logs" PRIMARY KEY ("Id");


--
-- Name: bill_items PK_bill_items; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.bill_items
    ADD CONSTRAINT "PK_bill_items" PRIMARY KEY ("Id");


--
-- Name: bills PK_bills; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT "PK_bills" PRIMARY KEY ("Id");


--
-- Name: branches PK_branches; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT "PK_branches" PRIMARY KEY ("Id");


--
-- Name: cash_register PK_cash_register; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.cash_register
    ADD CONSTRAINT "PK_cash_register" PRIMARY KEY ("Id");


--
-- Name: cash_transactions PK_cash_transactions; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.cash_transactions
    ADD CONSTRAINT "PK_cash_transactions" PRIMARY KEY ("Id");


--
-- Name: denomination_counts PK_denomination_counts; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.denomination_counts
    ADD CONSTRAINT "PK_denomination_counts" PRIMARY KEY ("Id");


--
-- Name: discounts PK_discounts; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.discounts
    ADD CONSTRAINT "PK_discounts" PRIMARY KEY ("Id");


--
-- Name: food_order_items PK_food_order_items; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.food_order_items
    ADD CONSTRAINT "PK_food_order_items" PRIMARY KEY ("Id");


--
-- Name: food_orders PK_food_orders; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.food_orders
    ADD CONSTRAINT "PK_food_orders" PRIMARY KEY ("Id");


--
-- Name: inventory PK_inventory; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT "PK_inventory" PRIMARY KEY ("Id");


--
-- Name: inventory_logs PK_inventory_logs; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.inventory_logs
    ADD CONSTRAINT "PK_inventory_logs" PRIMARY KEY ("Id");


--
-- Name: loyalty_points PK_loyalty_points; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.loyalty_points
    ADD CONSTRAINT "PK_loyalty_points" PRIMARY KEY ("Id");


--
-- Name: members PK_members; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT "PK_members" PRIMARY KEY ("Id");


--
-- Name: operators PK_operators; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.operators
    ADD CONSTRAINT "PK_operators" PRIMARY KEY ("Id");


--
-- Name: payments PK_payments; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "PK_payments" PRIMARY KEY ("Id");


--
-- Name: pcs PK_pcs; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.pcs
    ADD CONSTRAINT "PK_pcs" PRIMARY KEY ("Id");


--
-- Name: reservations PK_reservations; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT "PK_reservations" PRIMARY KEY ("Id");


--
-- Name: sessions PK_sessions; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "PK_sessions" PRIMARY KEY ("Id");


--
-- Name: shifts PK_shifts; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT "PK_shifts" PRIMARY KEY ("Id");


--
-- Name: system_config PK_system_config; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT "PK_system_config" PRIMARY KEY ("Id");


--
-- Name: users PK_users; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_users" PRIMARY KEY ("Id");


--
-- Name: wallet_transactions PK_wallet_transactions; Type: CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT "PK_wallet_transactions" PRIMARY KEY ("Id");


--
-- Name: IX_EodSnapshots_BranchId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_EodSnapshots_BranchId" ON public."EodSnapshots" USING btree ("BranchId");


--
-- Name: IX_EodSnapshots_GeneratedByOperatorId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_EodSnapshots_GeneratedByOperatorId" ON public."EodSnapshots" USING btree ("GeneratedByOperatorId");


--
-- Name: IX_PricingProfiles_BranchId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_PricingProfiles_BranchId" ON public."PricingProfiles" USING btree ("BranchId");


--
-- Name: IX_bills_BillNumber; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE UNIQUE INDEX "IX_bills_BillNumber" ON public.bills USING btree ("BillNumber");


--
-- Name: IX_bills_DiscountBy; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_bills_DiscountBy" ON public.bills USING btree ("DiscountBy");


--
-- Name: IX_bills_MemberId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_bills_MemberId" ON public.bills USING btree ("MemberId");


--
-- Name: IX_bills_PcId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_bills_PcId" ON public.bills USING btree ("PcId");


--
-- Name: IX_bills_ShiftId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_bills_ShiftId" ON public.bills USING btree ("ShiftId");


--
-- Name: IX_branches_Name; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE UNIQUE INDEX "IX_branches_Name" ON public.branches USING btree ("Name");


--
-- Name: IX_cash_register_OperatorId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_cash_register_OperatorId" ON public.cash_register USING btree ("OperatorId");


--
-- Name: IX_cash_transactions_BillId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_cash_transactions_BillId" ON public.cash_transactions USING btree ("BillId");


--
-- Name: IX_cash_transactions_BranchId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_cash_transactions_BranchId" ON public.cash_transactions USING btree ("BranchId");


--
-- Name: IX_cash_transactions_OperatorId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_cash_transactions_OperatorId" ON public.cash_transactions USING btree ("OperatorId");


--
-- Name: IX_denomination_counts_BranchId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_denomination_counts_BranchId" ON public.denomination_counts USING btree ("BranchId");


--
-- Name: IX_denomination_counts_CashRegisterId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_denomination_counts_CashRegisterId" ON public.denomination_counts USING btree ("CashRegisterId");


--
-- Name: IX_denomination_counts_OperatorId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_denomination_counts_OperatorId" ON public.denomination_counts USING btree ("OperatorId");


--
-- Name: IX_denomination_counts_ShiftId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_denomination_counts_ShiftId" ON public.denomination_counts USING btree ("ShiftId");


--
-- Name: IX_discounts_AdminId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_discounts_AdminId" ON public.discounts USING btree ("AdminId");


--
-- Name: IX_discounts_BillId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_discounts_BillId" ON public.discounts USING btree ("BillId");


--
-- Name: IX_discounts_BranchId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_discounts_BranchId" ON public.discounts USING btree ("BranchId");


--
-- Name: IX_food_order_items_InventoryId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_food_order_items_InventoryId" ON public.food_order_items USING btree ("InventoryId");


--
-- Name: IX_food_orders_MemberId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_food_orders_MemberId" ON public.food_orders USING btree ("MemberId");


--
-- Name: IX_food_orders_OperatorId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_food_orders_OperatorId" ON public.food_orders USING btree ("OperatorId");


--
-- Name: IX_food_orders_OrderNumber; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE UNIQUE INDEX "IX_food_orders_OrderNumber" ON public.food_orders USING btree ("OrderNumber");


--
-- Name: IX_food_orders_PcId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_food_orders_PcId" ON public.food_orders USING btree ("PcId");


--
-- Name: IX_inventory_logs_BranchId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_inventory_logs_BranchId" ON public.inventory_logs USING btree ("BranchId");


--
-- Name: IX_inventory_logs_OperatorId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_inventory_logs_OperatorId" ON public.inventory_logs USING btree ("OperatorId");


--
-- Name: IX_loyalty_points_AdminId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_loyalty_points_AdminId" ON public.loyalty_points USING btree ("AdminId");


--
-- Name: IX_loyalty_points_BillId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_loyalty_points_BillId" ON public.loyalty_points USING btree ("BillId");


--
-- Name: IX_loyalty_points_BranchId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_loyalty_points_BranchId" ON public.loyalty_points USING btree ("BranchId");


--
-- Name: IX_loyalty_points_OperatorId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_loyalty_points_OperatorId" ON public.loyalty_points USING btree ("OperatorId");


--
-- Name: IX_members_HomeBranchId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_members_HomeBranchId" ON public.members USING btree ("HomeBranchId");


--
-- Name: IX_members_MemberNumber; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE UNIQUE INDEX "IX_members_MemberNumber" ON public.members USING btree ("MemberNumber");


--
-- Name: IX_operators_CreatedBy; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_operators_CreatedBy" ON public.operators USING btree ("CreatedBy");


--
-- Name: IX_operators_Username; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE UNIQUE INDEX "IX_operators_Username" ON public.operators USING btree ("Username");


--
-- Name: IX_payments_OperatorId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_payments_OperatorId" ON public.payments USING btree ("OperatorId");


--
-- Name: IX_pcs_CurrentReservationId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_pcs_CurrentReservationId" ON public.pcs USING btree ("CurrentReservationId");


--
-- Name: IX_pcs_CurrentSessionId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_pcs_CurrentSessionId" ON public.pcs USING btree ("CurrentSessionId");


--
-- Name: IX_pcs_LastOperatorId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_pcs_LastOperatorId" ON public.pcs USING btree ("LastOperatorId");


--
-- Name: IX_pcs_PcNumber_BranchId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE UNIQUE INDEX "IX_pcs_PcNumber_BranchId" ON public.pcs USING btree ("PcNumber", "BranchId");


--
-- Name: IX_pcs_PricingProfileId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_pcs_PricingProfileId" ON public.pcs USING btree ("PricingProfileId");


--
-- Name: IX_reservations_MemberId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_reservations_MemberId" ON public.reservations USING btree ("MemberId");


--
-- Name: IX_reservations_OperatorId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_reservations_OperatorId" ON public.reservations USING btree ("OperatorId");


--
-- Name: IX_reservations_OverrideBy; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_reservations_OverrideBy" ON public.reservations USING btree ("OverrideBy");


--
-- Name: IX_sessions_MemberId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_sessions_MemberId" ON public.sessions USING btree ("MemberId");


--
-- Name: IX_sessions_ShiftId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_sessions_ShiftId" ON public.sessions USING btree ("ShiftId");


--
-- Name: IX_system_config_ConfigKey; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE UNIQUE INDEX "IX_system_config_ConfigKey" ON public.system_config USING btree ("ConfigKey");


--
-- Name: IX_system_config_UpdatedBy; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_system_config_UpdatedBy" ON public.system_config USING btree ("UpdatedBy");


--
-- Name: IX_users_Email; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE UNIQUE INDEX "IX_users_Email" ON public.users USING btree ("Email");


--
-- Name: IX_wallet_transactions_AdminId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_wallet_transactions_AdminId" ON public.wallet_transactions USING btree ("AdminId");


--
-- Name: IX_wallet_transactions_BillId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_wallet_transactions_BillId" ON public.wallet_transactions USING btree ("BillId");


--
-- Name: IX_wallet_transactions_BranchId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_wallet_transactions_BranchId" ON public.wallet_transactions USING btree ("BranchId");


--
-- Name: IX_wallet_transactions_OperatorId; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX "IX_wallet_transactions_OperatorId" ON public.wallet_transactions USING btree ("OperatorId");


--
-- Name: idx_audit_action; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_audit_action ON public.audit_logs USING btree ("Action");


--
-- Name: idx_audit_branch; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_audit_branch ON public.audit_logs USING btree ("BranchId");


--
-- Name: idx_audit_date; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_audit_date ON public.audit_logs USING btree ("CreatedAt");


--
-- Name: idx_audit_operator; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_audit_operator ON public.audit_logs USING btree ("OperatorId");


--
-- Name: idx_audit_target; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_audit_target ON public.audit_logs USING btree ("TargetType", "TargetId");


--
-- Name: idx_audit_user; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_audit_user ON public.audit_logs USING btree ("UserId");


--
-- Name: idx_bill_items_bill; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_bill_items_bill ON public.bill_items USING btree ("BillId");


--
-- Name: idx_bills_branch; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_bills_branch ON public.bills USING btree ("BranchId");


--
-- Name: idx_bills_date; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_bills_date ON public.bills USING btree ("CreatedAt");


--
-- Name: idx_bills_operator; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_bills_operator ON public.bills USING btree ("OperatorId");


--
-- Name: idx_bills_session; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_bills_session ON public.bills USING btree ("SessionId");


--
-- Name: idx_bills_status; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_bills_status ON public.bills USING btree ("Status");


--
-- Name: idx_cash_register_branch; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_cash_register_branch ON public.cash_register USING btree ("BranchId");


--
-- Name: idx_cash_register_shift; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE UNIQUE INDEX idx_cash_register_shift ON public.cash_register USING btree ("ShiftId");


--
-- Name: idx_cash_txn_date; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_cash_txn_date ON public.cash_transactions USING btree ("CreatedAt");


--
-- Name: idx_cash_txn_register; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_cash_txn_register ON public.cash_transactions USING btree ("CashRegisterId");


--
-- Name: idx_food_items_order; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_food_items_order ON public.food_order_items USING btree ("OrderId");


--
-- Name: idx_food_orders_branch; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_food_orders_branch ON public.food_orders USING btree ("BranchId");


--
-- Name: idx_food_orders_date; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_food_orders_date ON public.food_orders USING btree ("OrderTime");


--
-- Name: idx_food_orders_session; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_food_orders_session ON public.food_orders USING btree ("SessionId");


--
-- Name: idx_food_orders_status; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_food_orders_status ON public.food_orders USING btree ("Status");


--
-- Name: idx_inv_logs_date; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_inv_logs_date ON public.inventory_logs USING btree ("CreatedAt");


--
-- Name: idx_inv_logs_item; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_inv_logs_item ON public.inventory_logs USING btree ("InventoryId");


--
-- Name: idx_inventory_branch; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_inventory_branch ON public.inventory USING btree ("BranchId");


--
-- Name: idx_inventory_category; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_inventory_category ON public.inventory USING btree ("Category");


--
-- Name: idx_inventory_status; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_inventory_status ON public.inventory USING btree ("Status");


--
-- Name: idx_loyalty_member; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_loyalty_member ON public.loyalty_points USING btree ("MemberId");


--
-- Name: idx_members_mobile; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE UNIQUE INDEX idx_members_mobile ON public.members USING btree ("MobileNumber");


--
-- Name: idx_members_status; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_members_status ON public.members USING btree ("Status");


--
-- Name: idx_operators_branch; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_operators_branch ON public.operators USING btree ("BranchId");


--
-- Name: idx_operators_status; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_operators_status ON public.operators USING btree ("Status");


--
-- Name: idx_payments_bill; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_payments_bill ON public.payments USING btree ("BillId");


--
-- Name: idx_payments_branch; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_payments_branch ON public.payments USING btree ("BranchId");


--
-- Name: idx_payments_date; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_payments_date ON public.payments USING btree ("CreatedAt");


--
-- Name: idx_payments_type; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_payments_type ON public.payments USING btree ("PaymentType");


--
-- Name: idx_pcs_branch; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_pcs_branch ON public.pcs USING btree ("BranchId");


--
-- Name: idx_pcs_state; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_pcs_state ON public.pcs USING btree ("State");


--
-- Name: idx_reservations_branch; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_reservations_branch ON public.reservations USING btree ("BranchId");


--
-- Name: idx_reservations_pc; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_reservations_pc ON public.reservations USING btree ("PcId");


--
-- Name: idx_reservations_state; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_reservations_state ON public.reservations USING btree ("State");


--
-- Name: idx_reservations_time; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_reservations_time ON public.reservations USING btree ("ReservationTime");


--
-- Name: idx_sessions_branch; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_sessions_branch ON public.sessions USING btree ("BranchId");


--
-- Name: idx_sessions_date; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_sessions_date ON public.sessions USING btree ("StartTime");


--
-- Name: idx_sessions_operator; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_sessions_operator ON public.sessions USING btree ("OperatorId");


--
-- Name: idx_sessions_pc; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_sessions_pc ON public.sessions USING btree ("PcId");


--
-- Name: idx_sessions_state; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_sessions_state ON public.sessions USING btree ("State");


--
-- Name: idx_shifts_branch; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_shifts_branch ON public.shifts USING btree ("BranchId");


--
-- Name: idx_shifts_operator; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_shifts_operator ON public.shifts USING btree ("OperatorId");


--
-- Name: idx_shifts_status; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_shifts_status ON public.shifts USING btree ("Status");


--
-- Name: idx_wallet_txn_date; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_wallet_txn_date ON public.wallet_transactions USING btree ("CreatedAt");


--
-- Name: idx_wallet_txn_member; Type: INDEX; Schema: public; Owner: gamecafe_admin
--

CREATE INDEX idx_wallet_txn_member ON public.wallet_transactions USING btree ("MemberId");


--
-- Name: EodSnapshots FK_EodSnapshots_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public."EodSnapshots"
    ADD CONSTRAINT "FK_EodSnapshots_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE CASCADE;


--
-- Name: EodSnapshots FK_EodSnapshots_operators_GeneratedByOperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public."EodSnapshots"
    ADD CONSTRAINT "FK_EodSnapshots_operators_GeneratedByOperatorId" FOREIGN KEY ("GeneratedByOperatorId") REFERENCES public.operators("Id") ON DELETE CASCADE;


--
-- Name: PricingProfiles FK_PricingProfiles_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public."PricingProfiles"
    ADD CONSTRAINT "FK_PricingProfiles_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE CASCADE;


--
-- Name: audit_logs FK_audit_logs_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "FK_audit_logs_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE SET NULL;


--
-- Name: bill_items FK_bill_items_bills_BillId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.bill_items
    ADD CONSTRAINT "FK_bill_items_bills_BillId" FOREIGN KEY ("BillId") REFERENCES public.bills("Id") ON DELETE CASCADE;


--
-- Name: bills FK_bills_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT "FK_bills_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: bills FK_bills_members_MemberId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT "FK_bills_members_MemberId" FOREIGN KEY ("MemberId") REFERENCES public.members("Id") ON DELETE SET NULL;


--
-- Name: bills FK_bills_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT "FK_bills_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE RESTRICT;


--
-- Name: bills FK_bills_pcs_PcId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT "FK_bills_pcs_PcId" FOREIGN KEY ("PcId") REFERENCES public.pcs("Id") ON DELETE SET NULL;


--
-- Name: bills FK_bills_sessions_SessionId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT "FK_bills_sessions_SessionId" FOREIGN KEY ("SessionId") REFERENCES public.sessions("Id") ON DELETE SET NULL;


--
-- Name: bills FK_bills_shifts_ShiftId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT "FK_bills_shifts_ShiftId" FOREIGN KEY ("ShiftId") REFERENCES public.shifts("Id") ON DELETE SET NULL;


--
-- Name: bills FK_bills_users_DiscountBy; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT "FK_bills_users_DiscountBy" FOREIGN KEY ("DiscountBy") REFERENCES public.users("Id") ON DELETE SET NULL;


--
-- Name: cash_register FK_cash_register_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.cash_register
    ADD CONSTRAINT "FK_cash_register_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: cash_register FK_cash_register_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.cash_register
    ADD CONSTRAINT "FK_cash_register_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE RESTRICT;


--
-- Name: cash_register FK_cash_register_shifts_ShiftId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.cash_register
    ADD CONSTRAINT "FK_cash_register_shifts_ShiftId" FOREIGN KEY ("ShiftId") REFERENCES public.shifts("Id") ON DELETE RESTRICT;


--
-- Name: cash_transactions FK_cash_transactions_bills_BillId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.cash_transactions
    ADD CONSTRAINT "FK_cash_transactions_bills_BillId" FOREIGN KEY ("BillId") REFERENCES public.bills("Id") ON DELETE SET NULL;


--
-- Name: cash_transactions FK_cash_transactions_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.cash_transactions
    ADD CONSTRAINT "FK_cash_transactions_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: cash_transactions FK_cash_transactions_cash_register_CashRegisterId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.cash_transactions
    ADD CONSTRAINT "FK_cash_transactions_cash_register_CashRegisterId" FOREIGN KEY ("CashRegisterId") REFERENCES public.cash_register("Id") ON DELETE RESTRICT;


--
-- Name: cash_transactions FK_cash_transactions_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.cash_transactions
    ADD CONSTRAINT "FK_cash_transactions_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE RESTRICT;


--
-- Name: denomination_counts FK_denomination_counts_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.denomination_counts
    ADD CONSTRAINT "FK_denomination_counts_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: denomination_counts FK_denomination_counts_cash_register_CashRegisterId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.denomination_counts
    ADD CONSTRAINT "FK_denomination_counts_cash_register_CashRegisterId" FOREIGN KEY ("CashRegisterId") REFERENCES public.cash_register("Id") ON DELETE RESTRICT;


--
-- Name: denomination_counts FK_denomination_counts_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.denomination_counts
    ADD CONSTRAINT "FK_denomination_counts_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE RESTRICT;


--
-- Name: denomination_counts FK_denomination_counts_shifts_ShiftId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.denomination_counts
    ADD CONSTRAINT "FK_denomination_counts_shifts_ShiftId" FOREIGN KEY ("ShiftId") REFERENCES public.shifts("Id") ON DELETE RESTRICT;


--
-- Name: discounts FK_discounts_bills_BillId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.discounts
    ADD CONSTRAINT "FK_discounts_bills_BillId" FOREIGN KEY ("BillId") REFERENCES public.bills("Id") ON DELETE RESTRICT;


--
-- Name: discounts FK_discounts_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.discounts
    ADD CONSTRAINT "FK_discounts_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: discounts FK_discounts_users_AdminId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.discounts
    ADD CONSTRAINT "FK_discounts_users_AdminId" FOREIGN KEY ("AdminId") REFERENCES public.users("Id") ON DELETE RESTRICT;


--
-- Name: food_order_items FK_food_order_items_food_orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.food_order_items
    ADD CONSTRAINT "FK_food_order_items_food_orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public.food_orders("Id") ON DELETE CASCADE;


--
-- Name: food_order_items FK_food_order_items_inventory_InventoryId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.food_order_items
    ADD CONSTRAINT "FK_food_order_items_inventory_InventoryId" FOREIGN KEY ("InventoryId") REFERENCES public.inventory("Id") ON DELETE RESTRICT;


--
-- Name: food_orders FK_food_orders_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.food_orders
    ADD CONSTRAINT "FK_food_orders_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: food_orders FK_food_orders_members_MemberId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.food_orders
    ADD CONSTRAINT "FK_food_orders_members_MemberId" FOREIGN KEY ("MemberId") REFERENCES public.members("Id") ON DELETE SET NULL;


--
-- Name: food_orders FK_food_orders_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.food_orders
    ADD CONSTRAINT "FK_food_orders_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE SET NULL;


--
-- Name: food_orders FK_food_orders_pcs_PcId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.food_orders
    ADD CONSTRAINT "FK_food_orders_pcs_PcId" FOREIGN KEY ("PcId") REFERENCES public.pcs("Id") ON DELETE SET NULL;


--
-- Name: food_orders FK_food_orders_sessions_SessionId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.food_orders
    ADD CONSTRAINT "FK_food_orders_sessions_SessionId" FOREIGN KEY ("SessionId") REFERENCES public.sessions("Id") ON DELETE SET NULL;


--
-- Name: inventory FK_inventory_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT "FK_inventory_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: inventory_logs FK_inventory_logs_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.inventory_logs
    ADD CONSTRAINT "FK_inventory_logs_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: inventory_logs FK_inventory_logs_inventory_InventoryId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.inventory_logs
    ADD CONSTRAINT "FK_inventory_logs_inventory_InventoryId" FOREIGN KEY ("InventoryId") REFERENCES public.inventory("Id") ON DELETE CASCADE;


--
-- Name: inventory_logs FK_inventory_logs_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.inventory_logs
    ADD CONSTRAINT "FK_inventory_logs_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE SET NULL;


--
-- Name: loyalty_points FK_loyalty_points_bills_BillId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.loyalty_points
    ADD CONSTRAINT "FK_loyalty_points_bills_BillId" FOREIGN KEY ("BillId") REFERENCES public.bills("Id") ON DELETE SET NULL;


--
-- Name: loyalty_points FK_loyalty_points_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.loyalty_points
    ADD CONSTRAINT "FK_loyalty_points_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: loyalty_points FK_loyalty_points_members_MemberId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.loyalty_points
    ADD CONSTRAINT "FK_loyalty_points_members_MemberId" FOREIGN KEY ("MemberId") REFERENCES public.members("Id") ON DELETE RESTRICT;


--
-- Name: loyalty_points FK_loyalty_points_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.loyalty_points
    ADD CONSTRAINT "FK_loyalty_points_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE SET NULL;


--
-- Name: loyalty_points FK_loyalty_points_users_AdminId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.loyalty_points
    ADD CONSTRAINT "FK_loyalty_points_users_AdminId" FOREIGN KEY ("AdminId") REFERENCES public.users("Id") ON DELETE SET NULL;


--
-- Name: members FK_members_branches_HomeBranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT "FK_members_branches_HomeBranchId" FOREIGN KEY ("HomeBranchId") REFERENCES public.branches("Id") ON DELETE SET NULL;


--
-- Name: operators FK_operators_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.operators
    ADD CONSTRAINT "FK_operators_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: operators FK_operators_users_CreatedBy; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.operators
    ADD CONSTRAINT "FK_operators_users_CreatedBy" FOREIGN KEY ("CreatedBy") REFERENCES public.users("Id") ON DELETE SET NULL;


--
-- Name: payments FK_payments_bills_BillId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "FK_payments_bills_BillId" FOREIGN KEY ("BillId") REFERENCES public.bills("Id") ON DELETE RESTRICT;


--
-- Name: payments FK_payments_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "FK_payments_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: payments FK_payments_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "FK_payments_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE RESTRICT;


--
-- Name: pcs FK_pcs_PricingProfiles_PricingProfileId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.pcs
    ADD CONSTRAINT "FK_pcs_PricingProfiles_PricingProfileId" FOREIGN KEY ("PricingProfileId") REFERENCES public."PricingProfiles"("Id");


--
-- Name: pcs FK_pcs_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.pcs
    ADD CONSTRAINT "FK_pcs_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE CASCADE;


--
-- Name: pcs FK_pcs_operators_LastOperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.pcs
    ADD CONSTRAINT "FK_pcs_operators_LastOperatorId" FOREIGN KEY ("LastOperatorId") REFERENCES public.operators("Id") ON DELETE SET NULL;


--
-- Name: pcs FK_pcs_reservations_CurrentReservationId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.pcs
    ADD CONSTRAINT "FK_pcs_reservations_CurrentReservationId" FOREIGN KEY ("CurrentReservationId") REFERENCES public.reservations("Id") ON DELETE SET NULL;


--
-- Name: pcs FK_pcs_sessions_CurrentSessionId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.pcs
    ADD CONSTRAINT "FK_pcs_sessions_CurrentSessionId" FOREIGN KEY ("CurrentSessionId") REFERENCES public.sessions("Id") ON DELETE SET NULL;


--
-- Name: reservations FK_reservations_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT "FK_reservations_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: reservations FK_reservations_members_MemberId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT "FK_reservations_members_MemberId" FOREIGN KEY ("MemberId") REFERENCES public.members("Id") ON DELETE SET NULL;


--
-- Name: reservations FK_reservations_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT "FK_reservations_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE RESTRICT;


--
-- Name: reservations FK_reservations_pcs_PcId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT "FK_reservations_pcs_PcId" FOREIGN KEY ("PcId") REFERENCES public.pcs("Id") ON DELETE RESTRICT;


--
-- Name: reservations FK_reservations_users_OverrideBy; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT "FK_reservations_users_OverrideBy" FOREIGN KEY ("OverrideBy") REFERENCES public.users("Id") ON DELETE SET NULL;


--
-- Name: sessions FK_sessions_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "FK_sessions_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: sessions FK_sessions_members_MemberId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "FK_sessions_members_MemberId" FOREIGN KEY ("MemberId") REFERENCES public.members("Id") ON DELETE SET NULL;


--
-- Name: sessions FK_sessions_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "FK_sessions_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE RESTRICT;


--
-- Name: sessions FK_sessions_pcs_PcId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "FK_sessions_pcs_PcId" FOREIGN KEY ("PcId") REFERENCES public.pcs("Id") ON DELETE RESTRICT;


--
-- Name: sessions FK_sessions_shifts_ShiftId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "FK_sessions_shifts_ShiftId" FOREIGN KEY ("ShiftId") REFERENCES public.shifts("Id") ON DELETE SET NULL;


--
-- Name: shifts FK_shifts_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT "FK_shifts_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: shifts FK_shifts_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT "FK_shifts_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE RESTRICT;


--
-- Name: system_config FK_system_config_users_UpdatedBy; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT "FK_system_config_users_UpdatedBy" FOREIGN KEY ("UpdatedBy") REFERENCES public.users("Id") ON DELETE SET NULL;


--
-- Name: wallet_transactions FK_wallet_transactions_bills_BillId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT "FK_wallet_transactions_bills_BillId" FOREIGN KEY ("BillId") REFERENCES public.bills("Id") ON DELETE SET NULL;


--
-- Name: wallet_transactions FK_wallet_transactions_branches_BranchId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT "FK_wallet_transactions_branches_BranchId" FOREIGN KEY ("BranchId") REFERENCES public.branches("Id") ON DELETE RESTRICT;


--
-- Name: wallet_transactions FK_wallet_transactions_members_MemberId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT "FK_wallet_transactions_members_MemberId" FOREIGN KEY ("MemberId") REFERENCES public.members("Id") ON DELETE RESTRICT;


--
-- Name: wallet_transactions FK_wallet_transactions_operators_OperatorId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT "FK_wallet_transactions_operators_OperatorId" FOREIGN KEY ("OperatorId") REFERENCES public.operators("Id") ON DELETE SET NULL;


--
-- Name: wallet_transactions FK_wallet_transactions_users_AdminId; Type: FK CONSTRAINT; Schema: public; Owner: gamecafe_admin
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT "FK_wallet_transactions_users_AdminId" FOREIGN KEY ("AdminId") REFERENCES public.users("Id") ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict b41jVrKF46gIGbWUJyhaUa6YZDuqQxvQEJwSgp1CntYv6ZYtJllzp6shgb4G7c1

